<%
  user_display_name = [@user.first_name, @user.last_name].compact.join(" ").presence || @user.email
%>
<%= render "shared/banner_small", title: user_display_name, image: @user.avatar_or_default %>

<div class="row">
  <div class="col-md-4 mb-4">
    <%= render "users/profile_card", user: @user %>
  </div>

  <div class="col-md-8 mb-4">
    <%= render "users/created_events_card",
               user: @user,
               created_events: @created_events,
               show_admin_actions: (user_signed_in? && current_user == @user) %>
  </div>
</div>
