<% cities = local_assigns[:cities] || {} %>
<% if cities.any? %>
  <div class="container py-4">
    <h2 class="h4 fw-semibold mb-4 text-center"><%= t("app.cities.title") %></h2>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-3 justify-content-center">
      <% cities.each do |location, count| %>
        <div class="col">
          <%= render "shared/city_card", name: location, events_count: count %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
