<% if user_signed_in? && current_user == event.admin %>
  <div class="d-flex gap-2 mb-3">
    <%= link_to t("app.events.show.admin_space"), event_attendances_path(event), class: "btn btn-primary" %>
  </div>
<% end %>
