<%= render "shared/banner_small", title: t("app.events.edit.title") %>

<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card border-0 shadow-sm">
      <div class="card-body p-4">
        <%= render "events/event_form", event: @event, cancel_path: event_path(@event) %>
      </div>
    </div>
  </div>
</div>
