<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card border-0 shadow-sm">
      <div class="card-body p-4">
        <h1 class="h4 mb-4"><%= t("app.events.new.title") %></h1>
        <%= render "events/event_form", event: @event, cancel_path: root_path %>
      </div>
    </div>
  </div>
</div>
