<%= render "shared/banner_small", title: @event.title, image: (@event.picture.attached? ? @event.picture : nil), subtitle: @event.location %>

<div class="row">
  <div class="col-lg-8">
    <%= render "events/event_main_card", event: @event %>
    <%= render "comments/comments_section", event: @event %>
  </div>

  <div class="col-lg-4">
    <%= render "events/event_sidebar", event: @event %>
  </div>
</div>
