<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h2 mb-0"><%= t("app.admin_users.index.title") %></h1>
  <%= link_to t("app.admin_users.index.new"), new_admin_user_path, class: "btn btn-primary" %>
</div>

<%= render "admin/users/users_table", users: @users %>
