<%= render "shared/banner_small", title: t("app.attendances.index.title", event: @event.title), image: (@event.picture.attached? ? @event.picture : nil) %>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <%= render "attendances/admin_actions", event: @event %>
    <%= render "attendances/participants_section", attendances: @attendances %>
  </div>
</div>
